{% extends "admin_app/base.html" %}

{% block header %}
	<h2>正则表达式工具  <small>(上传一个文本文件或输入一个字符串)</small></h2>
{% endblock header %}

{% block content %}

	<form class="form-horizontal" role="form" id="form">
		{% csrf_token %}

		<div class="form-group">
			<label class="col-sm-2 control-label">上传一个文件</label>
			<div class="col-sm-2">
				<input type="file" id="fileUpload" name="fileUpload" accept="text/plain, application/msword">
			</div>
		</div>

		<div class="form-group">
			<label for="strInput" class="col-sm-2 control-label">待检索字符串</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="strInput" rows="6"
						  style="background:#FFFFFF; color:#000000; font-size:11pt"
						  placeholder="请输入一个字符串"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label for="regixInput" class="col-sm-2 control-label">正则表达式</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="regixInput" rows="2"
						  style="background:#FFFFFF; color:#000000; font-size:11pt"
						  placeholder="请输入正则表达式"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label for="strOutput" class="col-sm-2 control-label">输出</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="strOutput" rows="6"
						  style="background:#DCDCDC; color:#000000; font-size:11pt"
						  placeholder="等待输出结果" readonly="true"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-primary" id="btn">开始计算</button>
			</div>
		</div>
	</form>

	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		$.ajaxSetup({
		  beforeSend: function(xhr, settings){

			  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));              //request头需要添加csrftoken,告诉服务器，我是个好yin哪，我是正常访问者
		  }
		});

		$(document).ready(function (){
			$.ajaxSetup({
				data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
			});

			$("#btn").click(function (){
				var fileUpload = document.getElementById("fileUpload").files[0];

				var strInput = $('#strInput').val();
				//alert(typeof(strInput));
				//alert(strInput.length);
				if(("undefined" == typeof(fileUpload) || fileUpload.size <= 0) && strInput.length<=0){
					alert('你没有选中任何文件或未输入任何字符串');
					return false;
				}

				//var formData = new FormData();
				//formData.append("fileUpload", fileUpload);
				//formData.append("strInput", strInput);
				//formData.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
				//console.log(data);
				$.post("/algoRegix/",{"strInput": strInput},function(data){
					   alert("上传成功");
					})；
				$.ajax({	//提交ajax请求
					url: "{% url 'small_tools:algoRegix' %}",
					//url:"/algoRegix/",
					type: 'post',
					data: {
						//"formData": formData.serialize(),
						//"formData": formData,
						"strInput": strInput,
						"fileUpload": fileUpload,
						//"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
					},
					//dataType: 'json',
					cache: false,
					processDate: false,		//tell jquery not to process the data
					contentType: false,		//tell jquery not to set contentType

					beforeSend: function(xhr, settings){
						xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
						alert("准备发送数据了");
					},

					success: function(data) {
						if(data)
							$('#strOutput').text(data);
					},
					error: function(){
						alert("ajax提交数据失败了");
					},
				});
			});
		});
	</script>
	
{% endblock content %}
