{% extends "admin_app/base.html" %}

{% block header %}
	<h2>
		<a href="{% url 'imagination:collegeInfo' %}">{{ college.name }}</a>
		<small>
			>> <a href="{% url 'imagination:academyInfo' %}">{{ academy.name }}</a>
			>> <a href="{% url 'imagination:majorInfo' %}">{{ major.name }}</a>
			>> <a href="{% url 'imagination:gradeInfo' %}">{{ grade.id }}年级</a>
			>> {{ classs.id }}班
		</small>
	</h2>
{% endblock header %}

{% block content %}

	<table border="1" class="table table-striped table-hover table-condensed">
		<tr>
			<th colspan="2">班级信息</th>
		</tr>
		<tr>
			<td>学生数量</td>
			<td>{{ classs.studentNum }}</td>
		</tr>
	</table>

	<table border="1" class="table table-striped table-hover table-condensed">
		<tr>
			<th colspan="1">姓名</th>
			<th colspan="1">学号</th>
			<th colspan="1">年龄</th>
			<th colspan="1">性别</th>
			<th colspan="1">身高</th>
			<th colspan="1">体重</th>
			<th colspan="1">爱好</th>
		</tr>
		{% for student in classs.students %}
			<tr>
				<td>{{ student.name }}</td>
				<td>{{ student.id }}</td>
				<td>{{ student.age }}</td>
				<td>{{ student.sex }}</td>
				<td>{{ student.height }}</td>
				<td>{{ student.weight }}</td>
				<td>{{ student.hobbies }}</td>
			</tr>
		{% empty %}
		{% endfor %}

	</table>
	
{% endblock content %}
