{% extends "admin_app/base.html" %}

{% block header %}
	<h2>{{ college.name }}</h2>
{% endblock header %}

{% block content %}

	<table border="1" class="table table-striped table-hover table-condensed">
		<tr>
			<th colspan="2">学校信息</th>
		</tr>
		<tr>
			<td>编号</td>
			<td>{{ college.id }}</td>
		</tr>
		<tr>
			<td>简介</td>
			<td>{{ college.description }}</td>
		</tr>
		<tr>
			<td>地址</td>
			<td>{{ college.address }}</td>
		</tr>
		<tr>
			<td>级别</td>
			<td colspan="2">{{ college.level }}</td>
		</tr>
		<tr>
			 <td>面积</td>
			 <td>{{ college.area }}</td>
		</tr>
		<tr>
			 <td>校长</td>
			 <td>{{ college.headmaster_name }}</td>
		</tr>
		<tr>
			 <td>建校时间</td>
			 <td>{{ college.birthday }}</td>
		</tr>
		<tr>
			 <td>学院数量</td>
			 <td>{{ college.academies_num }}</td>
		</tr>
		<tr>
			 <td>专业数量</td>
			 <td>{{ college.majors_num }}</td>
		</tr>
		<tr>
			 <td>教师数量</td>
			 <td>{{ college.teachers_num }}</td>
		</tr>
		<tr>
			 <td>学生数量</td>
			 <td>{{ college.students_num }}</td>
		</tr>
	</table>

	<form action="{% url 'imagination:academyInfo' %}" method='post' class='form'>
		{% csrf_token %}

		<table>
			{{ collegeForm.as_table }}
		</table>

		<button name="submit" class="btn btn-primary">进入学院</button>

	</form>
	
{% endblock content %}
