{% extends "admin_app/base.html" %}

{% block header %}
	<h2>{{ college.name }}</h2>
{% endblock header %}

{% block content %}

	<table border="1" class="table table-striped table-hover table-condensed">
		<tr>
			<th colspan="2">学校信息</th>
		</tr>
		<tr>
			<td>CollegeId</td>
			<td>{{ college.id }}</td>
		</tr>
		<tr>
			<td>CollegeLevel</td>
			<td colspan="2">{{ college.level }}</td>
		</tr>
		<tr>
			<td>Address</td>
			<td>{{ college.address }}</td>
		</tr>
		<tr>
			 <td>Area</td>
			 <td>{{ college.area }}</td>
		</tr>
		<tr>
			 <td>AcademyNum</td>
			 <td>{{ college.academyNum }}</td>
		</tr>
	</table>

	<form action="{% url 'imagination:collegeInfo' %}" method='post' class='form'>
		{% csrf_token %}

		<table>
			{{ collegeForm.as_table }}
		</table>

		<button name="submit" class="btn btn-primary">进入学院</button>

	</form>
	
{% endblock content %}
