{% extends "admin_app/base.html" %}

{% block header %}
	<h2>
		<a href="{% url 'imagination:collegeInfo' %}">{{ college.name }}</a>
		<small>
			>> <a href="{% url 'imagination:academyInfo' %}">{{ academy.name }}</a>
			>> {{ major.name }}
		</small>
	</h2>
{% endblock header %}

{% block content %}

	<table border="1" class="table table-striped table-hover table-condensed">
		<tr>
			<th colspan="2">专业信息</th>
		</tr>
		<tr>
			<td>编号</td>
			<td>{{ major.id }}</td>
		</tr>
		<tr>
			<td>年级数量</td>
			<td>{{ major.gradeNum }}</td>
		</tr>
	</table>

	<form action="{% url 'imagination:gradeInfo' %}" method='post' class='form'>
		{% csrf_token %}

		<table>
			{{ majorForm.as_table }}
		</table>

		<button name="submit" class="btn btn-primary">进入年级</button>

	</form>
	
{% endblock content %}
