{% extends "admin_app/base.html" %}

{% block header %}
	<div class='jumbotron'>
		<h1>Keep improving, above and beyond.</h1>
	</div>
{% endblock header %}

{% block content %}
	{% if user.is_authenticated %}
		<h2>
			Today, what are your improvements? Moving!
		</h2>
	{% else %}
		<h2>
			<ul>
				<p>
					<a href="{% url 'users:register'%}">Register an account </a>
					or
					<a href="{% url 'users:register'%}">login</a>.
					Let's learn together.
				</p>
			</ul>
		</h2>
	{% endif %}

{% endblock content %}
